body{
    background-color: rgb(217, 168, 250);
}
.container{
   padding: 10px;
}
h1, p{
    color: rgb(83, 3, 3);
    text-align: center;
}
form{
    text-align: left;
    padding: 10px;
    margin: auto;
    width: 60%;
}
button{
    width: 80%;
    margin-left: 12%;   
}
label{
    font-size: 20px;
}